body
{
    background-color: #232323;
    color: white;
    font-size: 25px;
    z-index: 100;
}
#type
{
    margin-top: 50px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 20px;
    max-width: 20%;
}